body {
    background-color: pink;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: row;
    align-items: end;
    flex-wrap: wrap;
}

/* Position the "No" button absolutely within body */
#noButton {
    position: absolute;
    margin-left: 150px;
    transition: 0.5s;
    /* Smooth movement */
}

#yesButton {
    position: absolute;
    margin-right: 150px;
    /* Smooth movement */
}

/* Make responsive for mobile */
@media (max-width: 768px) {
    body {
        padding: 0 20px;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
}

.message {
    display: none;
}

.banner-gif {
    width: 100%;
    height: auto;
    margin-top: 20px;

    img {
        width: auto;
        height: 250px;
    }
}

/* Path: /js/script.js */
